$creditScore: #f7df71;
$longTermDebt: #dfb7f6;
$nextReportDelta: #89bcdb;

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transform: translateX(375px);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  animation-name: slide;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;

  .top,
  .bottom {
    font-size: 1.33em;
  }

  .middle {
    margin: 20px 0;
    font-size: 5em;
  }

  svg {
    position: absolute;
  }
}

.credit-score {
  .middle {
    color: $creditScore;
  }
}

.long-term-debt {
  .middle {
    color: $longTermDebt;
  }
}

.next-report-delta {
  .middle,
  .bottom {
    color: $nextReportDelta;
  }
}

@keyframes slide {
  10% {
    transform: translateX(0);
    opacity: 1;
  }

  90% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-375px);
    opacity: 0;
  }
}